{% extends "inicio/encabezado.html" %}
{% block titulo%} CONTACTO {%endblock%}



{% block imagen%}
  {%load static %}
  {%static 'inicio/imagenes/rich.jpg'%}
  
{%endblock%}



{% block texto%}
  {%load static %}
  
  <div class="user-info">
    CONTACTO <span>DSM</span>
  </div>
{%endblock%}






{% block contenido%}

    <!--Encabezdo -->
    <div class="page-header">
        <div class="page-title">
            <h3>Registro
            <small>Ingresa tu información</small></h3>
        </div>

    
    </div>
{%endblock%}

{% block ubicacion%}

{%endblock%}

{% block formulario%}
    <!-- /Encabezado-->

    <!-- Formulario -->
    <form class="form-horizontal" action="{% url 'Editar' comentario.id %}" method="post" role="form">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label text-right">Nombre:</label>
                    <div class="col-sm-10">
                        <input value={{comentario.usuario}} name="usuario" type="text" class="form-control">                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-right">Mensaje:</label>
                    <div class="col-sm-10">
                        {{ form.mensaje }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
<!-- Fin del Formulario -->



{%endblock%}