{% extends "inicio/encabezado.html" %}
{% block titulo %} PRINCIPAL {%endblock%}

{% block imagen%}
  {%load static %}
  {%static 'inicio/imagenes/home.png'%}
{%endblock%}

{% block texto%}
  {%load static %}
  
  <div class="user-info">
    PRINCIPAL <span>DSM</span>
  </div>
{%endblock%}


{% block contenido%}



    <!--Encabezdo -->
    <div class="page-header">
        <div class="page-title">
            <h3>Alumnos
            <small>Lista de Alumnos </small></h3>
        </div>

        
    </div>
    <!-- /Encabezado-->
{%endblock%}

{% block ubicacion%}

{%endblock%}s
